.Cart {

	table, th, td {
		border: 0px;
	}
	table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}

	.Cart__resume {
		text-align: right;
		margin: 60px 0;

		h4 {
			font-size: 18px;
			margin: 20px 0 25px 0;

			span {
				font-family: "Julius Sans One", sans-serif;
				font-weight: normal;
			}
		}

		.btn {
			display: inline-flex;
		}
	}

	.Cart__empty {
		text-align: center;

		button {
			display: inline-flex;
			margin-bottom: 60px;
		}
	}
}

@media (min-width: 1200px){
	.Cart {

		table {
			display: table;
		}
	}
}
