* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	color: white;
}

body {
	margin-top: 90px;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	background-color: #222;
}
h1, h2, h3, h4, h5, h6, p, a {
	color: white;
}

h1, h3 {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 48px;
}

h2 {
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
}

h3 {
	font-size: 24px;
}


.container {
	width: 90%;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}
}

.btn {
	font-family: 'Lato', sans-serif;
	background-color: white;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 45px;
	padding: 15px 20px;
	display: flex;
	align-items: center;
	font-weight: bold;

	a {
		color: initial;
		display: flex;
    align-items: center;
    text-decoration: none;
	}

	&:hover svg {
		transform: translateX(4px);
	}

	svg {
		transition: all .2s;
		stroke: black;
		margin-left: 10px;
		font-size: 24px;
	}

	&--large {
		font-size: 18px;

		svg {
			font-size: 26px;
		}
	}

	&--outline {
		background-color: transparent;
		color: white;
		border: 2px solid white;

		svg {
			stroke: white;
		}
	}

	&--danger{
		transition: all .5s;
	}

	&--danger:hover{
		border-color: #FF3E3E;
		background-color: #FF3E3E;
	}

	&--addCart {
		background: none;
    color: white;
    position: absolute;
    top: 30px;
    right: 30px;
		padding: 0;

		svg {
			stroke: white;
		}
	}

	&--inCart{
		cursor: inherit;

		svg {
			stroke: rgb(82, 150, 82);
		}
	}

	&--noStock{
		cursor: inherit;

		svg {
			stroke: orange;
		}
	}

	// &--addingToCart {
	// 	background-color: orange;

	// 	svg {
	// 		animation-name: spin;
	// 		animation-duration: 500ms;
	// 		animation-iteration-count: infinite;
	// 		animation-timing-function: linear;
	// 	}
	// }

	&--loadedToCart{
		background-color: orange;
		color: white;
		animation-name: show;
		animation-duration: 1500ms;
		animation-fill-mode: forwards;
		animation-timing-function: linear;

		svg {
			stroke: white;
		}
	}

	&--back {
		margin-bottom: 60px;
		svg {
			margin-left: 0;
			margin-right: 10px;
		}

		&:hover svg {
			transform: translateX(-4px);
		}
	}

}

// @keyframes spin {
// 	from {
// 			transform:rotate(0deg);
// 	}
// 	to {
// 			transform:rotate(360deg);
// 	}
// }

@keyframes show {
	0% {
		background-color: orange;
		color: white;
	}
	55% {
		color: white;
		background-color: rgb(82, 150, 82);
	}
	100% {
		color: white;
		background-color: rgb(82, 150, 82);
	}
}
